@font-face {
    font-family: Nunito-Variablefont_wght;
    src: url('../fonts/Nunito-VariableFont_wght.ttf');
}
/*----*/
:root{
    /* color variables */
    --greenCivi: #96cb76;
    --pinkCivi: #ec5f7b;
    --BlueCivi: #7468e5;
    --BlueCiviDark:#645cd4;
    --BlueCiviOpa: #7468e520;  
    --yellowCivi: #f5cf57;
    --blackCivi: #4d4d4d;
    --greyCivi: #808080;
    --greypointCivi: #cccccc ;
    --greyCiviOpa: #80808020; 
    --whiteCivi: #f2f2f2;
    --white: #ffffffff;

    --BlueCiviOpaCurtain: #7468e550;
    --yellowCiviOpaCurtain: #f5cf5750;
    --greenCivyOpaCurtain: #96cb7650;
    --pinkCiviOpaCurtain: #ec5f7b50;

    /* Font Size variables */
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --h1: 36px;
    --h2: 22px;
    --h3: 20px;

    /* Font Size media variables */
    --h1m: 30px;

    /* Font Size mobile variables */
    --h1s: 24px;

    /* Magin Nav variables */
    --MarginNav: 16%;
    --MarginNavR: 12%; 

    /* others */
    --slide-transform:0;
    --transition:transform 1s;

}
body {
    margin:0;
    font-family: Nunito-Variablefont_wght;
    /* background-color: #f2f2f2; */ 
}

h1{
    font-size: var(--h1);
    color: var(--BlueCivi);
}
h2{
    font-size: var(--h2);
    color: var(--BlueCivi);
}
h3{
    font-size: var(--h3);
}
/*------nav-Section------*/
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height:130px;
}
.menu{
    display: none;
    cursor: pointer;
}
.div-logo{
    padding-left: var(--MarginNav);
    width: 10%;
}
.logo {
    width: 116%; 
}

.navbar{     
    width: 56%; 
    display: flex;
    flex-direction: row-reverse;  
}
.navbar > ul{
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
    align-items: center;
}
.navbar > ul > li > a {
    display: flex;
    text-decoration: none;
    color: var(--blackCivi);
    font-size: var(--md);
    font-weight: bolder;
    padding: 26px;
    align-items: center;
    transition-duration: 0.6s;
}
.navbar > ul > li > a:hover {
    color: var(--BlueCivi);
}

/* ----SobreCivi element---- */
.navsub > a {
    text-decoration: none;
    color: var(--blackCivi);
    font-size: var(--md);
    padding: 14px 6px 14px 30px !important; 
    align-items: center;
    transition-duration: 0.6s;
}
.navsub > a > img {
    width: 24px;
    height: 24px;
    transition-duration: 0.6s;
}
.arrow-up{
    display:none;
}
.arrow-down{
   padding-right: 8px;
}
.navsub > a:hover{
    background-color: var(--BlueCivi);
    color: var(--whiteCivi) !important;  
}
.navsub:hover .about-civi{
    background-color: var(--BlueCivi);
    color: var(--whiteCivi) !important;  
}
.navsub:hover .arrow-down{
    display:none;
}
.navsub:hover .arrow-up{
    display: inline;
    padding-left: 8px;
}

.sub-menu{
    position: absolute;
    display: none;
    list-style: none;
    text-decoration: none;
    background-color: var(--white);
    width: 141px;
    padding-left: 0px;
    align-items: center;  
    border-radius: 0px 0px 20px 20px; 
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.navsub:hover .sub-menu{
    display: block;
}
.sub-menu >li >a{
    text-decoration: none;
    display: block;
    font-size: var(--sm);
    font-family: Nunito-Variablefont_wght;
    color: var(--greyCivi);
    text-align: center;
    padding: 18px 18px 18px 18px;
}
.a-sub{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: thin;
    border-bottom-color: var(--greyCivi);
    border-style: solid;
}
.sub-menu >li >a:hover{
    color: var(--BlueCivi);
    font-weight: bold;
}
/* ------BtnNav------ */
.div-btn-login{
    display: flex;
    padding-left: 24px;
    padding-right: var(--MarginNav);
}
.btn-login-nav{
    font-size: var(--md);
    font-weight:bold!important;
    background-color: var(--pinkCivi);
    border-radius: 20px;
    border: 2px solid var(--pinkCivi);
    color: var(--whiteCivi);
    cursor: pointer;
    padding: 8px 24px;
    height: 38px;
    text-align: center;
    transition-duration: 0.6s;
}
.btn-login-nav:hover {
    background-color: var(--whiteCivi);
    color: var(--pinkCivi);
    text-align: center;
}
/* ---media NAV--- */
@media (max-width: 1218px){
.nav{
    flex-direction: row;
    justify-content: center;
}
.div-logo{
    padding: 0% 16%;
}
.div-logo img{
    width: 124px;
}     
.menu{
    display: block;
    width: 32px;
    padding-left: 6%;
}
.navbar{
    width: 0px;
}
.navbar >ul{
    display: none;
}
.div-btn-login{
    padding-right: var(--MarginNavR);
}
.btn-login-nav{
    padding: 0% 22%;
}
}

/* -----END NAV------ */
.menu-mobile{
    transition: all .8s ease;
    position: fixed;
    right: 0px;
    left: 0px;
    display: block;
    background-color: var(--BlueCivi);
    padding-bottom: 250px;
    z-index: 1;
    width: 100%;
  }
  .menu-mobile__nav{
      display: block;     
  }
  .menu-mobile__nav-img{
      display:flex;
      justify-content: space-between;
      align-items: center;
      height: 130px;
      
  }
.menu-mobile__nav-img img:nth-child(1){
    width: 32px;
    cursor: pointer;
    padding-left: 6%;

  }
.menu-mobile__nav-img img:nth-child(2){
    width: 116px;
    padding-left: 12px;
    cursor: pointer;
}
.menu-mobile__nav-img img:nth-child(3){
    width: 32px;
    background-color: var(--whiteCivi);
    border-radius: 50%;
    padding: 1%;
    margin-right: 6%;
    cursor: pointer;
}
.menu-mobile__nav-element{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.menu-mobile__nav-element ul {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    align-items: center;
    width: 100%;
}
.menu-mobile__nav-element ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--whiteCivi);
    font-size: var(--h1s);
    font-weight: bold;
    padding: 24px;
    
}
.menu-mobile__nav-element ul li p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--whiteCivi);
    font-size: var(--h1s);
    font-weight: bold;
    padding: 24px;
    margin: 0px;
    cursor: pointer;
    
}
.menu-mobile__nav-element ul li p img{
    width: 24px;
    transition-duration: 0.6s;
}
.rotate{
    transition-duration: 0.6s;
    transform: rotate(180deg);
}
.about-civi-mobile{
    transition: all .8s ease;
    background-color: var(--BlueCiviDark) ;
    overflow: hidden;
    padding: 0em;
    height: 0;
    
}
.menu-mobile__nav-element button{
    font-size: var(--h1s);
    font-weight:bold!important;
    background-color: var(--pinkCivi);
    border-radius: 28px;
    border: 2px solid var(--pinkCivi);
    color: var(--whiteCivi);
    cursor: pointer;
    padding: 12px 126px;
    text-align: center;
    transition-duration: 0.6s;
    align-items: center;
}
.translate{
    transition-duration: 0.6s;
    transform: translate(-100%);
    transform-origin: center center ;
}

.activ{
    transition: all .8s ease;
    height: 80.800px;
    background-color: var(--BlueCiviDark) ;
    overflow: visible;
}
.activ> a{
    font-weight: lighter !important;
}
@media (max-width: 495px){
    .menu-mobile{
        width: 80%;
      }
}

/* -----START Principal section---- */
.principal{
    width: 100%;
}
/* -----START first section---- */
.first-art{
    background-color: var(--BlueCiviOpa);
    border-radius: 16px;
    margin: 0% 8% 4%;
    display: flex;
}
.first-art_content{
    padding: 8% 46% 6% 6%;
}
.icon-heart-eyes{
    width: 80px;
    margin: 0px;
   }
.first-art_content > h1{
    margin: 0px;
    line-height: 44px;
}   
.first-art_content > h1:nth-child(2){
    letter-spacing: 1.5px;
}
.first-art_content > h1:nth-child(3){
    letter-spacing: 3px;
}
.first-art_content > h1:nth-child(4){
    letter-spacing: 0.4px;
}
.first-art_content p{
    color: var(--greyCivi);
    margin-right: 8%;
    font-weight: bold;
    font-size: var(--sm);
    word-spacing: 0.25em;
    text-align: justify;
}
.img-principal-slide{
    background-image:url(../images/photography/pricipalSlide/happy-kids-with-their-african-american-female-scie---LQ.jpg);
    background-size: cover;
    border-radius: 16px;
    top: 152px;
    left: 54%;
    position: absolute;
    display: flex;
    align-items: center;
    width: 31%;
    height: 494px;
    background-position: unset;
    background-position-x: 34%;   
}

/* -----Media first section---- */

@media (max-width: 700px){

.first-art{
    margin: 0% 4% 38%
}
.first-art_content {
    padding: 6% 6% 36% 6%;
}
.first-art_content > h1{
    font-size: var(--h1m);
}
.first-art_content > h1:nth-child(2){
    letter-spacing: 0px;
}
.first-art_content > h1:nth-child(3){
    letter-spacing: 0.2px;
    line-height: 30px;
}
.first-art_content > h1:nth-child(4){
    letter-spacing: -1.7px;
}
.img-principal-slide {
    border-radius: 22px;
    top: 496px;
    left: 7%;   
    width: 86%;
    height: 246px;
    background-position: top;
    background-repeat: no-repeat;
}
.first-art_content p{
    color: var(--blackCivi);
    margin-right: 1%;
    font-weight: normal;
    font-size: 17px;
    word-spacing: 0em;

}
}
@media (max-width: 482px)  {

.first-art_content > h1{
    font-size: var(--h1s);
}   
.first-art_content > h1:nth-child(3) {
    letter-spacing: 0.2px;
    line-height: 16px;
} 
}
@media (max-width: 387px) {
    .first-art_content > h1{
        font-size: 22px;
    }   
    .first-art_content > h1:nth-child(3) {
        letter-spacing: 0.2px;
        line-height: 16px;
    } 
    }
    /* -----END first section------ */
/* -----START second section---- */
.second-art{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.what-is{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.what-is h1 {
    color: var(--BlueCivi);
    font-size: var(--h1);
    display: flex;
    justify-content: center;
    margin: 0px;
}
.what-is > h1> img{
    width: 34%;
    margin-top: -8px;
}
.video-civi{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.video-civi img{
    width: 58%;
}
.quote{
    display: flex;
    justify-content: center;
    padding: 2% 28%;
}
.quote img{
 width: 72px;
 transform: rotate(-20deg);
}
.quote > p{
    color: var(--greyCivi);
    font-weight: bold;
    font-size: var(--sm);
    word-spacing: 0.25em;
    text-align: justify;
    padding-left: 4%;
}

@media (max-width: 700px){
    .quote{
        margin-top: 6%;
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }
    .quote img{
        transform:none;
        padding: 0px ;
    }
    .quote > p{
    padding: 1% 10%;
    }

}
.vision-mision-content{
    display: grid;
    grid-template-columns: 8% 42% 42% 8%;
    padding-bottom: 50px;
}
.vision-mision-content> img:nth-child(1){
    left: 11.6%;

}
.vision-mision-content> img:nth-child(3){
    left: 52.8%;

}
.vision-mision-content > div{
    background-color: var(--greyCiviOpa);
}
.vision-mision-content >div > p{
    color: var(--greyCivi);
    font-weight: bold;
    font-size: var(--sm);
    word-spacing: 0.25em;
    text-align: justify;
    padding: 0% 4% 6%;
    margin: 0% 0%;
}
.container_mv{
    /* margin: 6%; */
    border-radius: 16px;
}
.vision{
    grid-column: 2;
    margin: 6% 4% 6% 6%;
}
.vision2{
    grid-column: 2;
    margin: 6% 4% 6% 6%;
    height: 82px;
}
.mision{
    margin: 6% 6% 6% 4%;
    grid-column: 3;
}
.mision2{
    margin: 6% 6% 6% 4%;
    grid-column: 3;
    height: 82px;
}
.vision-mision-content__box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 4%;
}
.vision-mision-content__box > h2{
padding-right: 20%;
}
.yellow-HeartBrain{
    width: 92px;
    position: absolute;
    padding-top: 1%;
}
.btnp{
    color: var(--whiteCivi);
    font-weight: bold;
    font-size: var(--md);
    cursor: pointer;
    padding: 0%;
    margin: 0%;
}
.open-close-btn{
    background-color: var(--BlueCivi);
    color: var(--whiteCivi);
    border: none;
    font-weight: bold;
    font-size: var(--md);
    cursor: pointer;
    /* letter-spacing: 0.06em; */
    border-radius: 6px;
    padding: 0.6% 1%;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 94px;

}
.open-close-btn img{
   width: 26px;
   height: 26px;
}
.img-btn{
    transform: rotate(-180deg);
}

@media (max-width: 1412px)  {

    .vision-mision-content__box > h2{
        padding-right: 12%;
        }

}
@media (max-width: 1290px)  {

    .vision-mision-content__box > h2{
        padding-right: 6%;
        }

}

.remove{
    transition-duration: 0.6s;
    display: none;
}
/* ---- TherSection --- Carrucel ----- */
.third-art{
    background-color: var(--BlueCiviOpa);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third-art>h1{
    /* padding: 0 36%; */
    margin: 66px 0;
    text-align: center;
    width: 486px;
}
.box-content{
    /* overflow-x: hidden ; */
    width: 70%;
    margin: 0px;
    border: 4px solid black;
}
.carrucel-container{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
}
.carrucel-container>img{
width: 60px;
cursor: pointer;
z-index: 1;
}
.carrucel-container__block{
    width: 100%;
    height: 430px;
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-between;
    transform: translateX(var(--slide-transform));
    transition: var(--transition);
}
#block-one{
    border: 2px solid var(--pinkCivi);
}
#block-two{
    border: 2px solid var(--yellowCivi);
}
#block-three{
    border: 2px solid var(--BlueCivi);
}
#block-four{
    border: 2px solid var(--greenCivi);
}

.block{
    display: grid;
    grid-template-rows: 58% 42%;
    background-color: var(--white);
    min-width: 366px;
    min-height: 430;
    box-shadow: 1px 15px 14px 1px rgba(0,0,0,0.08);
    transition-duration: 0.6s;
}
.block.block-unselected{
    display: grid;
    grid-template-rows: 76% 24%;
    background-color: var(--white);
    min-width: 278px;
    height: 340;
    margin: 2% 4% 8%;
    box-shadow: 1px 15px 14px 1px rgba(0,0,0,0.08);
    transition-duration: 0.6s;
}
.curtain{
    min-width: 100%;
    height: 100%;
    z-index: 1;
}
.yellowb{
    background-color: var(--yellowCiviOpaCurtain) !important;
}
.pinkb{
    background-color: var(--pinkCiviOpaCurtain);
}
.greenb{
    background-color: var(--greenCivyOpaCurtain);
}
.blueb{
    background-color: var(--BlueCiviOpaCurtain);
}
.block-img{
    grid-row: 1;
    width: 100%;

}
#img-block-one{
    background-image:url(../images/photography/carrucel/kids-learning-world-map-with-continents-countries-2021-08-27-00-01-54---LQ.jpg);
    background-size: 476px;
    background-position-x: 7%;
    background-position-y: 6%;
}
#img-block-two{
    background-image:url(../images/photography/carrucel/Shutterstock_1854477082.jpeg);
    background-size: 644px;
    background-position-x: 44%;
    background-position-y: 46%;
}
#block-three .block-img{
    background-image:url(../images/photography/carrucel/Shutterstock_1855133758---LQ.jpg);
    background-size: 476px;
    background-position-x: 75%;
    background-position-y: 16%;
}
#img-block-four{
    background-image:url(../images/photography/carrucel/hand-holding-emotion-face-block-customer-choose-e-2022-01-14-23-29-59-utc.jpg);
    background-size: 476px;
    background-position-x: 75%;
    background-position-y: 16%;
}
.block-img>img{
    width: 200px;
    /* background-size:contain ; */
}
.block-info{
    display: grid;
    grid-row: 2;
    grid-template-columns: 20% 80%;
    grid-template-rows: 40% 60%;
}
.unselected-box-info{
    display: grid;
    grid-row: 2;
    grid-template-columns: 20% 80%;
    grid-template-rows: 40%;
}
.unselected-box-info>p{
    display: none;

}
.unselected-box-info>img{
    grid-column: 1;
    grid-row: 1;
    width: 34px;
    padding: 42% 0% 0% 44%;
}
.unselected-box-info>h3{
    font-size: 16px;
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    padding: 8% 6% 0 6%;
    margin:0;
}

.block-info>img{
    grid-column: 1;
    grid-row: 1;
    width: 34px;
    padding: 38% 0% 0% 44%;
}
.block-info>h3{
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    padding: 6% 22% 0 0;
    margin:0;
}
.block-info>p{
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    color: var(--greyCivi);
    font-size: 15px;
    padding: 0 10% 0 0;
    margin: 0;
}
.points{
    display: flex;
    justify-content: space-between;
}
.point{
    margin: 12px;
    width: 8px;
    color: var(--greypointCivi);
    cursor: pointer;
    font-size: 48px;
    text-align: center !important;
}
.point:hover{
    color: var(--BlueCivi);
}
.point.selected{
    color: var(--BlueCivi);
}

/* ---- FOOTER ----- */
footer{
    /* width: 100%;*/
    height: 192px; 
    background-color: var(--BlueCivi);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 60% 40%;
    margin: 0% 6%;
    border-radius: 28px 28px 0px 0px; 

}
.logo-footer{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.logo-footer img{
    width:160px;
}
.menu-footer{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-around; 
    margin-top: 32px;
}
.menu-footer ul{
    display: flex;
    list-style: none;
    justify-content:space-around;
    padding: 0px;   

}
.menu-footer ul li{
    display: flex;
    justify-content:space-around;   

}
.menu-footer ul li a{
    text-decoration: none;
    color: var(--whiteCivi);
    display: flex;
    justify-content:space-around;   
    padding: 0px 22px 0px 22px;
}
.menu-footer ul li a{
    
}
.social-media{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content:flex-start; 
    margin-top: 32px;
}
.social-media img {
    width:52px;
}
.social-media img:nth-child(1) {
    padding-left: 16px;
}
.copyright{
    grid-column: 2;
    grid-row: 2; 
    margin-top: 0px; 
    align-items: center; 
}

.copyright p {
    display: block;
    color: var(--whiteCivi);
    margin-top: 0px;  
    align-items: center;
    text-align: center;
    font-weight: bold;
}
.copyright p:nth-child(1){
    margin-bottom: 0px;
}
.copyright p:nth-child(2){
    margin-top: 6px;
}