@font-face {
    font-family: Nunito-Variablefont_wght;
    src: url('../fonts/Nunito-VariableFont_wght.ttf');
}
/*----*/
:root{
    /* color variables */
    --greenCivi:      #96cb76;
    --greenCiviOpa:   #96cb7620;
    --pinkCivi:       #ec5f7b;
    --BlueCivi:       #7468e5;
    --BlueCiviDark:   #645cd4;
    --BlueCiviOpa:    #7468e520;  
    --yellowCivi:     #f5cf57;
    --blackCivi:      #4d4d4d;
    --greyCivi:       #808080;
    --greypointCivi:  #cccccc ;
    --greyCiviOpa:    #80808020; 
    --whiteCivi:      #f2f2f2;
    --white:          #ffffffff;

    --BlueCiviOpaCurtain:   #7468e550;
    --yellowCiviOpaCurtain: #f5cf5750;
    --greenCivyOpaCurtain:  #96cb7650;
    --pinkCiviOpaCurtain:   #ec5f7b50;

    --CelesteCivi: #54bfed;
    --VioletaCivi: #c275ef;
    --NaranjaCivi: #f48e76;
    --AguaCivi:    #2dba9f;

    /* Font Size variables */
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --h1: 36px;
    --h2: 22px;
    --h3: 20px;

    /* Font Size media variables */
    --h1m: 30px;

    /* Font Size mobile variables */
    --h1s: 24px;

    /* Magin Nav variables */
    --MarginNav: 16%;
    --MarginNavR: 12%; 

    /* others */
    --slide-transform:0;
    --transition:transform 1s;
    --carrucelTransitinElements: 1s;

}
html{
    scroll-behavior: smooth;
}
body {
    margin:0;
    font-family: Nunito-Variablefont_wght;
    /* background-color: #f2f2f2; */ 
}

h1{
    font-size: var(--h1);
    color: var(--BlueCivi);
}
h2{
    font-size: var(--h2);
    color: var(--BlueCivi);
}
h3{
    font-size: var(--h3);
}
/*------nav-Section------*/
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height:130px;
}
.menu{
    display: none;
    cursor: pointer;
}
.div-logo{
    padding-left: var(--MarginNav);
    width: 10%;
}
.logo {
    width: 116%; 
}

.navbar{     
    width: 56%; 
    display: flex;
    flex-direction: row-reverse;  
}
.navbar > ul{
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
    align-items: center;
}
.navbar > ul > li > a {
    display: flex;
    text-decoration: none;
    color: var(--blackCivi);
    font-size: var(--md);
    font-weight: bolder;
    padding: 26px;
    align-items: center;
    transition-duration: 0.6s;
}
.navbar > ul > li > a:hover {
    color: var(--BlueCivi);
}

/* ----SobreCivi element---- */
.navsub > a {
    text-decoration: none;
    color: var(--blackCivi);
    font-size: var(--md);
    padding: 14px 6px 14px 30px !important; 
    align-items: center;
    transition-duration: 0.6s;
}
.navsub > a > img {
    width: 24px;
    height: 24px;
    transition-duration: 0.6s;
}
.arrow-up{
    display:none;
}
.arrow-down{
   padding-right: 8px;
}
.navsub > a:hover{
    background-color: var(--BlueCivi);
    color: var(--whiteCivi) !important;  
}
.navsub:hover .about-civi{
    background-color: var(--BlueCivi);
    color: var(--whiteCivi) !important;  
}
.navsub:hover .arrow-down{
    display:none;
}
.navsub:hover .arrow-up{
    display: inline;
    padding-left: 8px;
}

.sub-menu{
    position: absolute;
    display: none;
    list-style: none;
    text-decoration: none;
    background-color: var(--white);
    width: 141px;
    padding-left: 0px;
    align-items: center;  
    border-radius: 0px 0px 20px 20px; 
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.navsub:hover .sub-menu{
    display: block;
}
.sub-menu >li >a{
    text-decoration: none;
    display: block;
    font-size: var(--sm);
    font-family: Nunito-Variablefont_wght;
    color: var(--greyCivi);
    text-align: center;
    padding: 18px 18px 18px 18px;
}
.a-sub{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: thin;
    border-bottom-color: var(--greyCivi);
    border-style: solid;
}
.sub-menu >li >a:hover{
    color: var(--BlueCivi);
    font-weight: bold;
}
/* ------BtnNav------ */
.div-btn-login{
    display: flex;
    padding-left: 24px;
    padding-right: var(--MarginNav);
}
.btn-login-nav{
    font-size: var(--md);
    font-weight:bold!important;
    background-color: var(--pinkCivi);
    border-radius: 20px;
    border: 2px solid var(--pinkCivi);
    color: var(--whiteCivi);
    cursor: pointer;
    padding: 8px 24px;
    height: 38px;
    text-align: center;
    transition-duration: 0.6s;
}
.btn-login-nav:hover {
    background-color: var(--whiteCivi);
    color: var(--pinkCivi);
    text-align: center;
}
/* ---media NAV--- */
@media (max-width: 1218px){
.nav{
    flex-direction: row;
    justify-content: center;
}
.div-logo{
    padding: 0% 16%;
}
.div-logo img{
    width: 124px;
}     
.menu{
    display: block;
    width: 32px;
    padding-left: 6%;
}
.navbar{
    width: 0px;
}
.navbar >ul{
    display: none;
}
.div-btn-login{
    padding-right: var(--MarginNavR);
}
.btn-login-nav{
    padding: 0% 22%;
}
}

/* -----END NAV------ */
.menu-mobile{
    transition: all .8s ease;
    position: fixed;
    right: 0px;
    left: 0px;
    display: block;
    background-color: var(--BlueCivi);
    padding-bottom: 250px;
    z-index: 1;
    width: 100%;
  }
  .menu-mobile__nav{
      display: block;     
  }
  .menu-mobile__nav-img{
      display:flex;
      justify-content: space-between;
      align-items: center;
      height: 130px;
      
  }
.menu-mobile__nav-img img:nth-child(1){
    width: 32px;
    cursor: pointer;
    padding-left: 6%;

  }
.menu-mobile__nav-img img:nth-child(2){
    width: 116px;
    padding-left: 12px;
    cursor: pointer;
}
.menu-mobile__nav-img img:nth-child(3){
    width: 32px;
    background-color: var(--whiteCivi);
    border-radius: 50%;
    padding: 1%;
    margin-right: 6%;
    cursor: pointer;
}
.menu-mobile__nav-element{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.menu-mobile__nav-element ul {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    align-items: center;
    width: 100%;
}
.menu-mobile__nav-element ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--whiteCivi);
    font-size: var(--h1s);
    font-weight: bold;
    padding: 24px;
    
}
.menu-mobile__nav-element ul li p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--whiteCivi);
    font-size: var(--h1s);
    font-weight: bold;
    padding: 24px;
    margin: 0px;
    cursor: pointer;
    
}
.menu-mobile__nav-element ul li p img{
    width: 24px;
    transition-duration: 0.6s;
}
.rotate{
    transition-duration: 0.6s;
    transform: rotate(180deg);
}
.about-civi-mobile{
    transition: all .8s ease;
    background-color: var(--BlueCiviDark) ;
    overflow: hidden;
    padding: 0em;
    height: 0;
    
}
.menu-mobile__nav-element button{
    font-size: var(--h1s);
    font-weight:bold!important;
    background-color: var(--pinkCivi);
    border-radius: 28px;
    border: 2px solid var(--pinkCivi);
    color: var(--whiteCivi);
    cursor: pointer;
    padding: 12px 126px;
    text-align: center;
    transition-duration: 0.6s;
    align-items: center;
}
.translate{
    transition-duration: 0.6s;
    transform: translate(-100%);
    transform-origin: center center ;
}

.activ{
    transition: all .8s ease;
    height: 80.800px;
    background-color: var(--BlueCiviDark) ;
    overflow: visible;
}
.activ> a{
    font-weight: lighter !important;
}


/* -----START Principal section---- */
.principal{
    width: 100%;
}
/* -----START first section---- */
.first-art{
    background-color: var(--BlueCiviOpa);
    border-radius: 16px;
    margin: 0% 8% 4%;
    display: flex;
}
.first-art_content{
    padding: 8% 46% 6% 6%;
}
.icon-heart-eyes{
    width: 80px;
    margin: 0px;
   }
.first-art_content > h1{
    margin: 0px;
    line-height: 44px;
}   
.first-art_content > h1:nth-child(2){
    letter-spacing: 1.5px;
}
.first-art_content > h1:nth-child(3){
    letter-spacing: 3px;
}
.first-art_content > h1:nth-child(4){
    letter-spacing: 0.4px;
}
.first-art_content p{
    color: var(--greyCivi);
    margin-right: 8%;
    font-weight: bold;
    font-size: var(--sm);
    word-spacing: 0.25em;
    text-align: justify;
}
.img-principal-slide{
    background-image:url(../images/photography/pricipalSlide/happy-kids-with-their-african-american-female-scie---LQ.jpg);
    background-size: cover;
    border-radius: 16px;
    top: 152px;
    left: 54%;
    position: absolute;
    display: flex;
    align-items: center;
    width: 31%;
    height: 494px;
    background-position: unset;
    background-position-x: 34%;   
}

/* -----Media first section---- */

@media (max-width: 700px){

.first-art{
    margin: 0% 4% 38%
}
.first-art_content {
    padding: 6% 6% 36% 6%;
}
.first-art_content > h1{
    font-size: var(--h1m);
}
.first-art_content > h1:nth-child(2){
    letter-spacing: 0px;
}
.first-art_content > h1:nth-child(3){
    letter-spacing: 0.2px;
    line-height: 30px;
}
.first-art_content > h1:nth-child(4){
    letter-spacing: -1.7px;
}
.img-principal-slide {
    border-radius: 22px;
    top: 496px;
    left: 7%;   
    width: 86%;
    height: 246px;
    background-position: top;
    background-repeat: no-repeat;
}
.first-art_content p{
    color: var(--blackCivi);
    margin-right: 1%;
    font-weight: normal;
    font-size: 17px;
    word-spacing: 0em;

}
}
@media (max-width: 482px)  {

.first-art_content > h1{
    font-size: var(--h1s);
}   
.first-art_content > h1:nth-child(3) {
    letter-spacing: 0.2px;
    line-height: 16px;
} 
}


/* -----START second section---- */
.second-art{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.what-is{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.what-is h1 {
    color: var(--BlueCivi);
    font-size: var(--h1);
    display: flex;
    justify-content: center;
    margin: 0px;
}
.what-is > h1> img{
    width: 34%;
    margin-top: -8px;
}
.video-civi{
    padding: 2% 0 0 0;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-civi iframe{
    width: 58%;
}

.quote{
    display: flex;
    justify-content: center;
    padding: 2% 28%;
}
.quote img{
 width: 72px;
 transform: rotate(-20deg);
}
.quote > p{
    color: var(--greyCivi);
    font-weight: bold;
    font-size: var(--sm);
    word-spacing: 0.25em;
    text-align: justify;
    padding-left: 4%;
}
/* ----vision y misión */
.vision_mission{
    padding: 0 10%;
    margin: 52px 0;
    display: flex;
    justify-content: space-between;

}
.vision_mission__box{
    background-color: var(--greyCiviOpa);
    width: 48%;
    border-radius: 12px;
    height: 0%;
}
.vision_mission__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vision_mission__header>img{
    width: 14%;
    padding-left: 14px;
    margin-top: -28px;
}
.vision_mission__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--BlueCivi);
    border-radius: 6px;
    width: 98px;
    margin-right: 3%;
    cursor: pointer;
}
.vision_mission__button>button{
    display: flex;
    align-items: center;
    color: var(--white);
    font-weight: bold;
    font-size: var(--md);
    background-color: var(--BlueCivi);
    border: none;
    margin-right: 0px;
    padding:1px 4px 1px 12px;
    border-radius: 6px;
    cursor: pointer;

}
.vision_mission__arrow{
    width: 32px;
    transform: rotate(180deg);
    transition-duration: 0.8s;
}
.vision_mission__arrow.rotate{
    transform: rotate(360deg);
    transition-duration: 0.8s;
}
.vision_mission__info{
    height: 182px;
    transition-duration: 0.8s;
}
.vision_mission__info>p{
    margin: 0;
    padding: 0 17px 48px;
    color: var(--greyCivi);
    font-size: var(--sm);
    text-align: justify;
    transition-duration: 0.8s;
    opacity: 0;
    animation: show_info 1s ease-in forwards;
}
@keyframes show_info {
    0%{
     opacity: 0;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}
.vision_mission__info.close{
    height: 2px;
    transition-duration: 0.8s;
}
.vision_mission__info.close>p{
    display: none;
}

/* ----fin visión mision */
@media (max-width: 700px){
    .quote{
        margin-top: 6%;
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }
    .quote img{
        transform:none;
        padding: 0px ;
    }
    .quote > p{
    padding: 1% 10%;
    }
    .video-civi iframe{
        width:640px ;
        height:360px;
    }
    
}
@media (max-width: 850px){
    .vision_mission{
        flex-direction: column;
        padding: 0 4%    
    }
    .vision_mission__box{
        width: 100%;
        margin: 20px 0;     
    }
    .vision_mission__header>h2 {
        font-size: 16px;
        font-weight: bold;
    }
    .vision_mission__button{
        width: 76px;
        height: 24px;

    }
    .vision_mission__button>button {
        font-size: var(--sm);
    }
    .vision_mission__arrow {
        width: 20px;
    }
    .vision_mission__info {
        height: 256px;
    }

}


/* ---- TherSection --- Carrucel ----- */
.third-art{
    background-color: var(--BlueCiviOpa);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third-art>h1{
    /* padding: 0 36%; */
    margin: 66px 0;
    text-align: center;
    width: 486px;
}
.box-content{
    overflow-x: hidden ;
    width: 70%;
    margin: 0px;
    /* border: 4px solid black; */
}
@media (max-width: 1280px){
    .box-content{
        width: 86%;
    }
    
    }
.carrucel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}
.carrucel-container>img{
width: 60px;
height: 60px;
cursor: pointer;
z-index: 1;
}
.carrucel-container__block{
    width: 100%;
    height: 430px;
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-between;
    transform: translateX(var(--slide-transform));
    transition: var(--transition);
}
#block-red{
    border: 2px solid var(--pinkCivi);
}
#block-yellow{
    border: 2px solid var(--yellowCivi);
}
#block-blue{
    border: 2px solid var(--BlueCivi);
}
#block-green{
    border: 2px solid var(--greenCivi);
}
.block{
    display: grid;
    grid-template-rows: 58% 42%;
    background-color: var(--white);
    min-width: 34.4%;
    min-height: 430;
    box-shadow: 1px 15px 14px 1px rgba(0,0,0,0.08);
    transition-duration: 1s;
}
.block.block-unselected{
    display: grid;
    grid-template-rows: 76% 24%;
    background-color: var(--white);
    /* min-width: 278px; */
    min-width: 26%;
    height: 340;
    margin: 2% 4% 8%;
    box-shadow: 1px 15px 14px 1px rgba(0,0,0,0.08);
    transition-duration: 1s;
}
.curtain{
    min-width: 100%;
    height: 100%;
    z-index: 1;
    transition-duration: var(--carrucelTransitinElements);
}
.yellowb{
    background-color: var(--yellowCiviOpaCurtain) !important;
}
.pinkb{
    background-color: var(--pinkCiviOpaCurtain);
}
.greenb{
    background-color: var(--greenCivyOpaCurtain);
}
.blueb{
    background-color: var(--BlueCiviOpaCurtain);
}
.block-img{
    grid-row: 1;
    width: 100%;

}
#img-block-one{
    background-image:url(../images/photography/carrucel/kids-learning-world-map-with-continents-countries-2021-08-27-00-01-54---LQ.jpg);
    background-size: 476px;
    background-position-x: 7%;
    background-position-y: 6%;
}
#img-block-two{
    background-image:url(../images/photography/carrucel/Shutterstock_1854477082.jpeg);
    background-size: 644px;
    background-position-x: 44%;
    background-position-y: 46%;
}
#img-block-three{
    background-image:url(../images/photography/carrucel/Shutterstock_1855133758---LQ.jpg);
    background-size: 476px;
    background-position-x: 75%;
    background-position-y: 16%;
}
#img-block-four{
    background-image:url(../images/photography/carrucel/hand-holding-emotion-face-block-customer-choose-e-2022-01-14-23-29-59-utc.jpg);
    background-size: 406px;
    background-position-x: 46%;
    background-position-y: 16%;
}
#img-block-five{
    background-image:url(../images/photography/carrucel/shutterstock_1708897081---LQ.jpg);
    background-size: 408px;
    background-position-x: 75%;
    background-position-y: 16%;
}
#img-block-six{
    background-image:url(../images/photography/carrucel/people-2022-01-18-23-47-19---LQ.jpg);
    background-size: 654px;
    background-position-x: 38%;
    background-position-y: 16%;
}
#img-block-seven{
    background-image:url(../images/photography/carrucel/searching-for-the-right---LQ.jpg);
    background-size: 432px;
    background-position-x: 52%;
    background-position-y: 16%;
}
#img-block-eight{
    background-image:url(../images/photography/carrucel/archive-2022-02-01-23-43-00---LQ.jpg);
    background-size: 440px;
    background-position-x: 26%;
    background-position-y: 16%;
}
.block-img>img{
    width: 200px;
}
.block-info{
    display: grid;
    grid-row: 2;
    grid-template-columns: 20% 80%;
    grid-template-rows: 40% 60%;
    transition-duration: var(--carrucelTransitinElements);
}
.unselected-box-info{
    display: grid;
    grid-row: 2;
    grid-template-columns: 20% 80%;
    grid-template-rows: 40%;
    transition-duration: var(--carrucelTransitinElements);
}
.unselected-box-info>p{
    /* display: none; */
    font-size: 0.001px;
    /* transform: translateY(-100%);  */
    opacity: 0;
}
.unselected-box-info>img{
    grid-column: 1;
    grid-row: 1;
    width: 34px;
    padding: 42% 0% 0% 44%;
    transition-duration: var(--carrucelTransitinElements);
}
.unselected-box-info>h3{
    font-size: 16px;
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    padding: 8% 6% 0 6%;
    margin:0;
    transition-duration: var(--carrucelTransitinElements);
}
.unselected-box-info>.short-title{
    padding-top: 13% !important;
}

.block-info>img{
    grid-column: 1;
    grid-row: 1;
    width: 34px;
    padding: 38% 0% 0% 44%;
    transition-duration: var(--carrucelTransitinElements);
}
.block-info>h3{
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    padding: 6% 6% 0 0;
    margin:0;
    transition-duration: var(--carrucelTransitinElements);
}
@media (max-width: 1110px){
    .block-info>h3{
        font-size: 16px;
    }
}
.block-info>.short-title{
    padding-top: 11% !important;
}
.block-info>p{
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    color: var(--greyCivi);
    font-size: 15px;
    padding: 2% 10% 0 0;
    margin: 0;
    /* opacity: 1; */
    /* transition-duration: 0.01s; */
    animation: visible-letter 1s ease-in forwards;
}
@keyframes visible-letter {
    0%{
     opacity: 0;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}
.points{
    display: flex;
    justify-content: space-between;
}
.point{
    margin: 12px;
    width: 8px;
    color: var(--greypointCivi);
    /* cursor: pointer; */
    font-size: 48px;
    text-align: center !important;
}
/* .point:hover{
    color: var(--BlueCivi);
} */
.point.selected{
    color: var(--BlueCivi);
}

/*-- fourth section---TEAM -- */
.fourth-art{
    display: block;
    margin: 0 6%;
    height: auto;
}
.team__intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.team__intro>h1{
    padding: 4% 4% 4% 6%;
    margin: 0;
}
.team__intro>p{
    font-size: var(--lg);
    margin: 0 ;
    padding: 0 6%;

}
.team__member-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block-member{
    width: 258px;
    background-color: white;
    padding: 0 20px 0;
    margin: 0 0 20px;
}
.img-section{
 width: 258px;
 height: 258px;
 background-size: 270px ;
 background-position-y: -26px;
 border-radius: 10px;
 overflow:hidden;
}
.member-one{
    background-image: url(../images/photography/member/Cata\ -\ R.jpg);
    background-position-y: -76px !important;
}
.member-two{
    background-image: url(../images/photography/member/kizioY.jpeg);
    background-size: 387px !important;
    background-position-y: -76px !important;
    background-position-x: -53px !important;

}
.member-three{
    background-image: url(../images/photography/member/Claudia\ Caroca\ -\ R.jpg);
    background-size: 300px !important;
    background-position-y: -54px !important;
    background-position-x: -18px !important;
}
.member-four{
    background-image: url(../images/photography/member/Kari\ -\ R.jpg);
    background-size: 300px !important;
    background-position-y: -91px !important;
    background-position-x: -16px !important;
}
.member-five{
    background-image: url(../images/photography/member/franG.jpeg);
    background-position-y: -66px !important;
    background-position-x: -10px !important;
    background-size: 300px !important;

}
.member-six{
    background-image: url(../images/photography/member/Mayed\ -\ R.jpg);
    background-position-y: -79px !important;
    background-position-x: -6px !important;
}
.member-seven{
    background-image: url(../images/photography/member/Meli\ -\ R.jpg);
    background-size: 354px !important;
    background-position-y: -74px !important;
    background-position-x: -45px !important;
}
.member-eigth{
    background-image: url(../images/photography/member/Kevin\ -\ R.jpg);
    background-size: 342px !important;
    background-position-x: -46px !important;
    background-position-y: -38px !important;
}
.img-section>img{
    min-width: 245px;
    padding: 10px 2px 10px 2px;
}
.red-member{
    background-image: url(../icons/Red\ HeartBrain\ -\ Square\ -\ Civicon.svg);
    background-color: var(--pinkCivi);
}
.green-member{
    background-image: url(../icons/Green\ HeartBrain\ -\ Square\ -\ Civicon.svg);
    background-color:var(--greenCivi);
}
.blue-member{
    background-image: url(../icons/Purple\ HeartBrain\ -\ Square\ -\ Civicon.svg);
    background-color:var(--BlueCivi);
}
.yellow-member{
    background-image: url(../icons/Yellow\ HeartBrain\ -\ Square\ -\ Civicon.svg);
    background-color:var(--yellowCivi);
}
.insta-member{
    background: rgb(236,95,123);
    background: linear-gradient(90deg, rgba(236,95,123,1) 0%, rgba(116,104,229,1) 100%);
    
}
.info-member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
}
.info-member>h3{
    margin-bottom: 0;
    color: var(--blackCivi);
    text-align: center;
}
.red-name{
    color: var(--pinkCivi) !important;
    min-width: 260px !important;
}
.yellow-name{
    color: var(--yellowCivi) !important;
    text-align: center !important;
    min-width: 280px !important;
}
.green-name{
    color: var(--greenCivi) !important;
    text-align: center !important;
    min-width: 280px !important;
}
.blue-name{
    color: var(--BlueCivi) !important;
}
.skyblue-name{
    color: var(--CelesteCivi) !important;
}
.purple-name{
    color: var(--VioletaCivi) !important;
}
.aqua-name{
    color: var(--AguaCivi) !important;
}
.orange-name{
    color: var(--NaranjaCivi) !important;
}
.degrade-name{
    color: rgb(116,104,229) !important;
}

.info-member>p{
    margin-top: 0;
    color: var(--greyCivi);
}
.social-member{
    display: flex;
    justify-content: center;
}
.social-member>a>img{
    width: 36px;
    cursor: pointer;
}

/* -- fifth section -- */
.fifth-art{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact-us{
background-color: var(--greenCiviOpa);
width: 80%;
margin: 6% 12%;
padding: 72px 6%;
border-radius: 24px;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.two-fingers{
    width: 68px;
    height: 68px;
    border-radius: 10px;
    background-color: var(--greenCivi);
    background-image: url(../icons/Hi\ Hand\ -\ Square\ -\ Civicon.svg);
}
.contact-us>h2{
    color: var(--greenCivi);
    margin-bottom: 4px;
}
.contact-us>p{
    font-size: var(--sm);
    color: var(--greyCivi);
    width: 43%;
    margin: 0 0 14px;
}
.contact-us__info{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 20% 80%;
    width: 162px;
}
.contact-us__info>p{
    font-size: var(--sm);
    color: var(--greyCivi);
    font-weight: bold;
}
.contact-us__info>img{
    width: 30px;
    padding-top:8px ;
}
.contact-us__info:nth-child(1){
    grid-row: 1;
    grid-column: 1;
}
.contact-us__info:nth-child(2){
    grid-row: 1;
    grid-column: 2; 
}
.contact-us__info:nth-child(3){
    grid-row: 2;
    grid-column: 1;
}
.contact-us__info:nth-child(3){
    grid-row: 2;
    grid-column: 2;
}
.form{
    background-color: var(--greenCivi);
    width: 378px;
    height: 464px;
    position: absolute;
    margin: 4% 10% 4% 52%;
    border-radius: 22px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8%
}
form label{
    color: var(--white);
    font-weight: bold;
    margin: 2% 0%;
}
.input-info{
    padding: 1% 1% 1% 6%;
    margin:  6px 0;
    color: var(--greyCivi);
    border: none;
    border-radius: 6px;
    height: 34px;
}
form textarea {
    resize: none;
    height: 122px !important;
}
form textarea::placeholder {
    padding-top: 2% !important;
}
.input-info::placeholder{
    color: var(--greyCivi);
    margin-left: 2%;
    font-family: Nunito-Variablefont_wght;;
}
form button{
    color: var(--white);
    font-family: Nunito-Variablefont_wght;
    font-size: var(--md);
    font-weight: bold;
    background-color: var(--greenCivi);
    border: 2px solid white;
    border-radius: 10px;
    height: 54px;
    margin: 16px 0;
    cursor: pointer;


}

@media (max-width:740px ){
    .contact-us {
        margin: 6% 12% 494px;
        padding: 28px 4%;
    }
    .form {
        width: 88%;
        margin: 368px 0% 4%;
    }
    .contact-us>p {
        width: 72%;
    }

}

/* ---- FOOTER ----- */
footer{
    /* width: 100%;*/
    height: 192px; 
    background-color: var(--BlueCivi);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 60% 40%;
    margin: 0% 6%;
    border-radius: 28px 28px 0px 0px; 

}
.logo-footer{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.logo-footer img{
    width:160px;
}
.menu-footer{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-around; 
    margin-top: 32px;
}
.menu-footer ul{
    display: flex;
    list-style: none;
    justify-content:space-around;
    padding: 0px;   

}
.menu-footer ul li{
    display: flex;
    justify-content:space-around;   

}
.menu-footer ul li a{
    text-decoration: none;
    color: var(--whiteCivi);
    display: flex;
    justify-content:space-around;   
    padding: 0px 22px 0px 22px;
}
.menu-footer ul li a:hover{
    font-weight: bold;
    
}
.social-media{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content:flex-start; 
    margin-top: 32px;
}
.social-media>a{
margin: 0 4px;
}
.social-media img {
    width:52px;
    cursor: pointer;
    margin: 0;
}
.social-media>a:nth-child(1) {
    margin-left: 16px;
}
.copyright{
    grid-column: 2;
    grid-row: 2; 
    margin-top: 0px; 
    align-items: center; 
}

.copyright p {
    display: block;
    color: var(--whiteCivi);
    margin-top: 0px;  
    align-items: center;
    text-align: center;
    font-weight: bold;
}
.copyright p:nth-child(1){
    margin-bottom: 0px;
}
.copyright p:nth-child(2){
    margin-top: 6px;
}

@media (max-width:1000px ){
    footer{

        height: 100%; 
        background-color: var(--BlueCivi);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 31% 8% 44% 16%;
        align-items: center;
        margin: 0% 6%;
        border-radius: 28px 28px 0px 0px; 
    
    }
    .logo-footer{
        grid-column: 1;
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }
    .social-media{
        grid-column: 1;
        grid-row: 2;
        display: flex;
        align-items: center;
        justify-content:center; 
        margin-bottom: 30px;
    }
    .menu-footer{
        grid-column: 1;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        /* justify-content:space-around;  */
        margin-top: 0px;
    }
    .menu-footer ul{
        display: flex;
        flex-direction: column;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 0 11%
    
    }
    .menu-footer ul li:nth-child(1){ 
        padding-top: 12px;
    }
    .menu-footer ul li:nth-child(4){ 
        padding-bottom:  12px;
    }
    .menu-footer ul li a{ 
        padding: 6px 22px;
    }
    .copyright{
        grid-column: 1;
        grid-row: 4; 
        margin-top: 18px; 
        align-items: center; 
    }
    .copyright p:nth-child(2){
        margin-top: 0px;
        padding: 0 26%
    }

}
@media (max-width: 495px){
       .menu-mobile{
        width: 100%;
      }

      /* -----qué es civi */
      .what-is h1 {
        font-size: var(--h1s);
    }
    .what-is > h1> img {
        width: 44%;
    }
      /* ------carrusel */
      .third-art>h1 {
        width: 300px;
       }
       .carrucel-container>img{
        display: none;
        }
        .box-content{
            width: 100%;
        }
        .block{
            min-width: 80.4%;
        }
        .block-info>img {
            padding: 38% 0% 0% 26%;
        }
        .block.block-unselected {
            display: grid;
            grid-template-rows: 58% 42%;
            background-color: var(--white);
            /* min-width: 278px; */
            min-width: 80.4%;
            min-height: 430;
            margin: 2% 4% 8%;
        }
        .carrucel-container__block {
            padding-right: 370%;

        }
        /* -----profesional */
        .team__intro{
          flex-direction:column;
          padding: 0;
          text-align: center;
        }
        .team__intro>h1{
            font-size: var(--h1s);
            margin-top: 66px;
          }
          .team__intro>p {
            font-size: var(--md);
            margin-bottom: 44px;
            padding: 0;
            text-align:left;
        }
        /* ------footer */
        .copyright p:nth-child(2) {
            margin-top: 0px;
            padding: 0px 14%;
        }
        
      
}
@media (max-width: 387px) {
    .first-art_content > h1:nth-child(4) {
        letter-spacing: 0.7px;
    }
    .first-art_content > h1:nth-child(3) {
        letter-spacing: 0.2px;
        line-height: 16px;
    } 
    .first-art_content>h1{
        font-size: 18px;
    }
    .block-info>img {
        padding: 38% 0% 0% 18%;
    }
    .block-info {
        grid-template-rows: 30% 70%;
    }
    .block-info>.short-title {
        padding-right: 0px;
    }
    .div-logo {
        padding: 0% 16% 0 6%;
    }
    .vision_mission__info {
        height: 282px;
    }
    .menu-mobile__nav-element button {
        padding: 12px 92px;
    }
}